<div class="container">
    <ul class="result_list">
        {{#each this}}
            {{#if this.laundromatName}}
                <a href="laundromatPage/{{this.laundromatName}}/{{this.laundromatAddress}}"><li>{{this.laundromatName}} address:{{this.laundromatAddress}}</li></a>
            {{/if}}
        {{/each}}
        {{#each results}}
                <a href="laundromatPage/{{this.name}}/{{this.formatted_address}}"><li>{{this.name}} address:{{this.formatted_address}}</li></a>
        {{/each}}
    </ul>
</div>
