{{#if login}}

    <div class="container text-center mt-5">
        <div class="card">
            <div class="card-header">
                <h2>{{results.0.laundromatName}}</h2>
                <h2>{{results.0.laundromatAddress}}</h2>
            </div>
            <div class="card-body">
                <div class="mt-5">
                    <h4>Owner name:      <i>{{results.0.ownerName}}</i></h4>
                    <h4>Laundromat email:    <i>{{results.0.email}}</i></h4>
                    <h4>Phone number:     <i>{{results.0.ownerPhone}}</i></h4>
                    <h4>Rating (out of 5): <i>{{#if results.0.rating}}{{results.0.rating}},based on {{results.0.ratingNumbers}} responses{{else}}No reviews yet!{{/if}}</i></h4>
                </div>
                <div class="mt-5">
                    <a href="/newOrder/name={{results.0.laundromatName}}address={{results.0.laundromatAddress}}"><button class="btn btn-primary">Start an order!</button></a>
                </div>
            </div>
        </div>

    </div>



{{else}}
    <div class="container text-center">
        <h1>You are not logged in ! Please <a href="/login">login</a> or <a href="/register">register</a></h1>
    </div>
{{/if}}


<style type="text/css">
    .card{
        height:500px
    }
</style>